#tri{
     width: 0px;
     height: 0px;
     border-top: 40px solid red;
     border-right: 40px solid blue;
     border-bottom: 40px solid green;
     border-left: 40px solid yellow;
 }
#tri0{
    width: 20px;
    height: 20px;
    border-top: 40px solid red;
    border-right: 40px solid blue;
    border-bottom: 40px solid green;
    border-left: 40px solid yellow;
}
#tri1{
    width: 0px;
    height: 0px;
    border-top: 0px solid red;
    border-right: 40px solid blue;
    border-bottom: 40px solid green;
    border-left: 40px solid yellow;

}
#tri2{
    width: 0px;
    height: 0px;
    border-top: 00px solid red;
    border-right: 00px solid blue;
    border-bottom: 40px solid green;
    border-left: 40px solid yellow;
}
#tri3{
    width: 0px;
    height: 0px;
    border-top: 0px solid red;
    border-right: 40px solid blue;
    border-bottom: 0px solid green;
    border-left: 0px solid yellow;
}
#tri4{
    width: 0px;
    height: 0px;
    border-top: 40px solid red;
    border-right: 20px solid blue;
    border-bottom: 30px solid green;
    border-left: 40px solid yellow;
}
#tri5{
    /* position: absolute;
     top: 0;
     right: 30%;*/
    width: 0px;
    height: 0px;
    content: "xxxxxxx";
    border-color: green;
    border-style: solid;
    border-width: 10px 5px 3px 5px;
    border-bottom-color: transparent;
}

/*向上*/
.triangle_border_up{
    width:0;
    height:0;
    border-width:0 30px 30px;
    border-style:solid;
    border-color:transparent transparent #333;/*透明 透明  灰*/
    margin:40px auto;
    position:relative;
}
.triangle_border_up span{
    display:block;
    width:0;
    height:0;
    border-width:0 28px 28px;
    border-style:solid;
    border-color:transparent transparent #fc0;/*透明 透明  黄*/
    position:absolute;
    top:0px;
    left:0px;
}
/*向下*/
.triangle_border_down{
    width:0;
    height:0;
    border-width:30px 30px 0;
    border-style:solid;
    border-color:#333 transparent transparent;/*灰 透明 透明 */
    margin:40px auto;
    position:relative;
}
.triangle_border_down span{
    display:block;
    width:0;
    height:0;
    border-width:28px 28px 0;
    border-style:solid;
    border-color:#fc0 transparent transparent;/*黄 透明 透明 */
    position:absolute;
    top:0px;
    left:0px;
}
/*向左*/
.triangle_border_left{
    width:0;
    height:0;
    border-width:30px 30px 30px 0;
    border-style:solid;
    border-color:transparent #333 transparent transparent;/*透明 灰 透明 透明 */
    margin:40px auto;
    position:relative;
}
.triangle_border_left span{
    display:block;
    width:0;
    height:0;
    border-width:28px 28px 28px 0;
    border-style:solid;
    border-color:transparent #fc0 transparent transparent;/*透明 黄 透明 透明 */
    position:absolute;
    top:0px;
    left:0px;
}
/*向右*/
.triangle_border_right{
    width:0;
    height:0;
    border-width:30px 0 30px 30px;
    border-style:solid;
    border-color:transparent transparent transparent #333;/*透明 透明 透明 灰*/
    margin:40px auto;
    position:relative;
}
.triangle_border_right span{
    display:block;
    width:0;
    height:0;
    border-width:28px 0 28px 28px;
    border-style:solid;
    border-color:transparent transparent transparent #fc0;/*透明 透明 透明 黄*/
    position:absolute;
    top:0px;
    left:0px;
}

/*正方形*/
.Square { width: 80%; height: 80%; background-color: #669; }
/*矩形*/
.rectangle { width: 80%; height: 40%; background-color: #669; }
/*梯形*/
#trapezoid {
    border-bottom: 100px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 100px;
}
/*平行四边形*/
.parallelogram {
    width: 100px;
    height: 50px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background: #669;
    margin-left:20px; }

/*椭圆*/
.oval {
    width: 100px;    height: 50px;    background: red;    -moz-border-radius: 100px / 50px;    -webkit-border-radius: 100px / 50px;    border-radius: 100px / 50px;
}

#star-six {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
    position: relative;
}
#star-six:after {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
    position: absolute;
    content: "";
    top: 30px;
    left: -50px;
}

#star-five {
    margin: 50px 0;
    position: relative;
    display: block;
    color: red;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}
#star-five:before {
    border-bottom: 80px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
}
#star-five:after {
    position: absolute;
    display: block;
    color: red;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: '';
}


#pentagon {
    position: relative;
    width: 54px;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: red transparent;
}
#pentagon:before {
    content: "1";
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent red;
}


#hexagon {
    width: 100px;
    height: 55px;
    background: red;
    position: relative;
}
#hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid red;
}
#hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid red;
}

#octagon {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
}
#octagon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 29px solid red;
    border-left: 29px solid #eee;
    border-right: 29px solid #eee;
    width: 42px;
    height: 0;
}
#octagon:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 29px solid red;
    border-left: 29px solid #eee;
    border-right: 29px solid #eee;
    width: 42px;
    height: 0;
}

#heart {
    position: relative;
    width: 100px;
    height: 90px;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin :100% 100%;
}

#infinity {
    position: relative;
    width: 212px;
    height: 100px;
}
#infinity:before,
#infinity:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border: 20px solid red;
    -moz-border-radius: 50px 50px 0 50px;
    border-radius: 50px 50px 0 50px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#infinity:after {
    left: auto;
    right: 0;
    -moz-border-radius: 50px 50px 50px 0;
    border-radius: 50px 50px 50px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#talkbubble {
    width: 120px;
    height: 80px;
    background: red;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#talkbubble:before {
    content:"";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid red;
    border-bottom: 13px solid transparent;
}

#cut-diamond {
    border-style: solid;
    border-color: transparent transparent red transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    position: relative;
    margin: 20px 0 50px 0;
}
#cut-diamond:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: red transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}


#yin-yang {
    width: 96px;
    height: 48px;
    background: #eee;
    border-color: red;
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%;
    position: relative;
}
#yin-yang:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #eee;
    border: 18px solid red;
    border-radius: 100%;
    width: 12px;
    height: 12px;
}
#yin-yang:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: red;
    border: 18px solid #eee;
    border-radius:100%;
    width: 12px;
    height: 12px;
}


.pre-wrap {
    width: 200px;
    height: 120px;
    margin: 50px auto 0;
    border: 2px solid #F00;
    border-radius: 4px;
    position: relative;
}
.pre {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 40px;
}
.pre1 {
    border-width: 40px;
    border-color: transparent #F30 transparent transparent;
}
.pre2 {
    border-width: 40px;
    border-color: transparent #FFF transparent transparent;
    position: relative;
    top: -80px;
    left: 15px;
}
.pre1, .pre2 {
    /*****设置border-style:dashed;使ie6支持border透明*****/
    border-style: dashed solid dashed dashed;
    /*****设置容器宽高为0*****/
    width: 0;
    height: 0;
    /*****去掉ie6下默认高度，设置以下属性*****/
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

.box{
    width:100px;
    height:500px;
    margin:0 auto;
    border:1px solid red;
    background:white;
}
.arrow-box{
    width:30px;
    height:30px;
    margin:20px auto;
    position:relative;
}
/*右箭头*/
.right{
    width:20px;
    height:20px;
    position:absolute;
    left:0;
    top:0;
    border:0px solid blue;
}
.right-arrow1,.right-arrow2{
    width:0;
    height:0;
    display:block;
    position:absolute;
    left:0;
    top:0;
    border-top:10px transparent dashed;
    border-right:10px transparent dashed;
    border-bottom:10px transparent dashed;
    border-left:10px white solid;
    overflow:hidden;
}
.right-arrow1{
    left:1px;/*重要*/
    border-left:10px blue solid;
}
.right-arrow2{
    border-left:10px white solid;
}
/*左箭头*/
.left{
    width:20px;
    height:20px;
    position:absolute;
    left:0;
    top:0;
    z-index: 2;/*兼容ie8-*/
    border:0px solid blue;
}
.left-arrow1,.left-arrow2{
    width:0;
    height:0;
    display:block;
    position:absolute;
    left:0;
    top:0;
    z-index:5;/*兼容ie8-*/
    border-top:10px transparent dashed;
    border-left:10px transparent dashed;
    border-bottom:10px transparent dashed;
    border-right:10px white solid;
    overflow:hidden;
}
.left-arrow1{
    border-right:10px blue solid;
}
.left-arrow2{
    left:1px;/*重要*/
    border-right:10px white solid;
}
/*上箭头*/
.top{
    width:20px;
    height:20px;
    position:absolute;
    left:0;
    top:0;
    z-index: 2;/*兼容ie8-*/
    border:0px solid blue;
}
.top-arrow1,.top-arrow2{
    width:0;
    height:0;
    display:block;
    position:absolute;
    left:0;
    top:0;
    z-index: 5;/*兼容ie8-*/
    border-top:10px transparent dashed;
    border-left:10px transparent dashed;
    border-right:10px transparent dashed;
    border-bottom:10px white solid;
    overflow:hidden;
}
.top-arrow1{
    border-bottom:10px blue solid;
}
.top-arrow2{
    top:1px;/*重要*/
    border-bottom:10px white solid;
}
/*下箭头*/
.bottom{
    width:20px;
    height:20px;
    position:absolute;
    left:0;
    top:0;
    z-index: 2;/*兼容ie8-*/
    border:0px solid blue;
}
/*下箭头*/
.bottom1{
    width:20px;
    height:20px;
    position:absolute;
    left:0;
    top:0;
    z-index: 2;/*兼容ie8-*/
    border:1px solid blue;
}
.bottom-arrow1,.bottom-arrow2{
    width:0;
    height:0;
    display:block;
    position:absolute;
    left:0;
    top:0;
    z-index: 5;/*兼容ie8-*/
    border-bottom:10px transparent dashed;
    border-left:10px transparent dashed;
    border-right:10px transparent dashed;
    border-top:10px white solid;
    overflow:hidden;
}
.bottom-arrow1{
    top:1px;/*重要*/
    border-top:10px blue solid;
}
.bottom-arrow2{
    border-top:10px white solid;
}