<style>
    .glry {
        margin-top: 2rem;
        margin-bottom: 8rem;
        border: 1px solid #ddd;
    }

    .glry tr:first-of-type td{
        color: white!important;
        background-color: #277DAE!important;
    }

    .glry ul {
        margin: 0;
        padding-left: 0;
        list-style: none;
    }

    .glry li {
        margin: 0;
    }

    .glry li > span {
        margin: 0;
        position: relative;
    }

    .glry li div {
        display: none;
    }

    .glry li:hover div {
        position: absolute;
        display: inherit;
        top: 1rem;
        left: 110%;
        width: 20rem;
        background: #fff;
        border: 1px solid #277DAE;
        border-radius: 10px;
        background: #fff;
        padding: 1rem;
        z-index: 1;
    }

    .glry li:hover div:after {
        content: "";
        width: 10px;
        height: 10px;
        border-top: 4px solid #FFF;
        border-radius: 20px 0 0 0;
        position: absolute;
        top: -3px;
        left: -9px;
        transform: rotate(60deg);
    }

    .glry li:hover div:before {
        content: "";
        width: 10px;
        height: 10px;
        border-top: 6px solid #277DAE;
        border-radius: 20px 0 0 0;
        position: absolute;
        top: -4px;
        left: -10px;
        transform: rotate(55deg);
    }
</style>
<table class="am-table am-table-hover glry">
    <tbody>
    <tr>
        <td>
            姓名
        </td>
        <td>
            性别
        </td>
        <td>
            现任职务
        </td>
        <td>
            高管资格批准文号
        </td>
        <td>
            任现职时间
        </td>
        <td>
            其他任职经历（与期货相关）
        </td>
    </tr>
    <tr ng-repeat="x in person">
        <td>
            {{x.xm}}
        </td>
        <td>
            {{x.xb}}
        </td>
        <td>
            {{x.xrzw}}
        </td>
        <td>
            {{x.ggwh}}
        </td>
        <td>
            {{x.rxzsj}}
        </td>
        <td>
            <ul>
                <li ng-repeat="jl in x.xgjl">
                    <span>{{jl.title}}<div> {{jl.text}}</div></span>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>