<style>
    .gsgg {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .gsgg>.fh > a {
        float: right;
        display: none;
        color: black;
    }
    .gsgg>.fh > a:hover {
        color: #0e90d2;
    }
    .gsgg>.active > a {
        display: inherit;
    }
</style>
<dhheader links="gsgg.links"></dhheader>
<img src="../../image/p2.jpg" alt="背景" class="am-img-responsive dh-top-img">
<div class="am-container gsgg">
    <div ng-if="$root.loading">加载中...</div>
    <div class="dh-minheigh" ng-if="!$root.loading" ui-view></div>
    <div ng-class="{active: state.includes('gsgg.text')}" class="fh"><a href="javascript:history.back();">返回</a></div>
</div>
<dhfooter></dhfooter>
